# Prediccion de Default en Prestamos

Para este proyecto utilizaremos un sample de los datos de Lending Club. La idea es predecir si cierto usuario cometera Default basado en informacion que la plataforma recolecta. Esto nos ayudara a mejorar la metodologia/pipeline de prestamo.

# Descripcion



Contiene los prestamos de esta plataforma:

    periodo 2007-2017Q3.
    887mil observaciones, sample de 100mil
    150 variables
    Target: loan status

# Objetivo

Realizar un ETL y un EDA

## ETL

0. Limpia los datos de tal manera que al final del ETL queden en formato `tidy`.
1. Asegurate de cargar y leer los datos
2. Crea una tabla donde se guarde el nombre de la columna y el tipo de dato: (`column_name`,   `type`).
3. Asegurate de pensar cual es el tipo de dato correcto. Porque elejiste strig/object o float o int?. No hay respuestas incorrectas como tal, pero tienes que justificar tu decision.
4. Maneja missings o nans de la manera adecuada. Justifica cada decision

## EDA

0. Preparar lo datos para un pipeline de datos
1. Quitar columnas inservibles 
2. Imputar valores
3. Mantener replicabildiad y reproducibilidad

**No olvides anotar tus justificaciones en celdas para recordar cuando te toque explicarlo.** Puedes agregar el numero de celdas que necesites para poner tu explicacion y el codigo, solo manten la estructura.

# ETL

In [141]:
import pandas as pd
import numpy as np
import io
import pickle
import json

Vas a obtener 2 errores, solucionalo con los visto en clase.  
Tip: Se arreglan con argumentos adicionales de la funcion `read_csv`  
Documentacion: https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

In [114]:
loans = pd.read_csv('https://github.com/sonder-art/fdd_prim_2023/blob/main/codigo/pandas/LoansData_sample.csv.gz?raw=true', header= 0, compression= 'gzip')
# lo debemos descomprimir paar leer con la opcion gzip y el header es la fila 0
loans

/tmp/ipykernel_1476/2347400727.py:1: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  loans = pd.read_csv('https://github.com/sonder-art/fdd_prim_2023/blob/main/codigo/pandas/LoansData_sample.csv.gz?raw=true', header= 0, compression= 'gzip')

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,0,38098114,NaN,15000.0,15000.0,15000.0,60 months,12.39,336.64,C,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,1,36805548,NaN,10400.0,10400.0,10400.0,36 months,6.99,321.08,A,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,2,37842129,NaN,21425.0,21425.0,21425.0,60 months,15.59,516.36,D,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,3,37612354,NaN,12800.0,12800.0,12800.0,60 months,17.14,319.08,D,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,4,37662224,NaN,7650.0,7650.0,7650.0,36 months,13.66,260.20,C,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,22454240,NaN,8400.0,8400.0,8400.0,36 months,9.17,267.79,B,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99996,99996,11396920,NaN,10000.0,10000.0,10000.0,36 months,12.99,336.90,C,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99997,99997,8556176,NaN,30000.0,30000.0,30000.0,60 months,20.99,811.44,E,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99998,99998,24023408,NaN,8475.0,8475.0,8475.0,36 months,24.99,336.92,F,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99999,99999,24023398,NaN,25000.0,25000.0,25000.0,36 months,10.15,808.45,B,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

## Tabla (column_name, type)

Revisa el metodo pd.DataFrame.dtypes. https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dtypes.html

In [130]:
column_types = loans.dtypes

column_types

id                         int64
loan_amnt                float64
funded_amnt              float64
funded_amnt_inv          float64
term                      object
                          ...
disbursement_method       object
debt_settlement_flag      object
settlement_amount        float64
settlement_percentage    float64
settlement_term          float64
Length: 107, dtype: object

## Cargar descripcion de columnas

La siguiente tabla tiene una descripcion del significado de cada columna

In [131]:


datos_dict = pd.read_excel(
    'https://resources.lendingclub.com/LCDataDictionary.xlsx')
datos_dict.columns = ['feature', 'description']

In [132]:
datos_dict

                   feature                                        description
0           acc_now_delinq  The number of accounts on which the borrower i...
1     acc_open_past_24mths         Number of trades opened in past 24 months.
2               addr_state  The state provided by the borrower in the loan...
3                 all_util              Balance to credit limit on all trades
4               annual_inc  The self-reported annual income provided by th...
..                     ...                                                ...
148      settlement_amount  The loan amount that the borrower has agreed t...
149  settlement_percentage  The settlement amount as a percentage of the p...
150        settlement_term  The number of months that the borrower will be...
151                    NaN                                                NaN
152                    NaN  * Employer Title replaces Employer Name for al...

[153 rows x 2 columns]

### Pickle

Crea codigo para **guardar** y **cargar** el DataFrame de `datos_dict` creada en las celdas anteriores en formato **pickle**

In [133]:
with open('datos_dict.pkl', 'wb') as f:
    pickle.dump(datos_dict, f)

In [134]:
with open('datos_dict.pkl', 'rb') as f:
    loaded_df = pickle.load(f)

loaded_df

                   feature                                        description
0           acc_now_delinq  The number of accounts on which the borrower i...
1     acc_open_past_24mths         Number of trades opened in past 24 months.
2               addr_state  The state provided by the borrower in the loan...
3                 all_util              Balance to credit limit on all trades
4               annual_inc  The self-reported annual income provided by th...
..                     ...                                                ...
148      settlement_amount  The loan amount that the borrower has agreed t...
149  settlement_percentage  The settlement amount as a percentage of the p...
150        settlement_term  The number of months that the borrower will be...
151                    NaN                                                NaN
152                    NaN  * Employer Title replaces Employer Name for al...

[153 rows x 2 columns]

## Tipos de Datos

Realiza las transformaciones o casteos (casting) que creas necesarios a tus datos de tal manera que el typo de dato sea adecuado. Al terminar recrea la tabla `column_types` con los nuevos tipos.

No olvides anotar tus justificaciones para recordar cuando te toque explicarlo.

In [135]:
def convert_column_type(column):
    if all(isinstance(value, str) for value in column):
        return column
    # Intenta convertir la columna a int
    try:
        column_as_int = pd.to_numeric(column, errors='raise', downcast='integer')
        if column_as_int.equals(column):
            return column_as_int
    except (ValueError, TypeError):
        pass

    # Intenta convertir la columna a float
    try:
        column_as_float = pd.to_numeric(column, errors='raise', downcast='float')
        if column_as_float.equals(column):
            return column_as_float
    except (ValueError, TypeError):
        pass

    # Si no se ha realizado ninguna conversión, devuelve la columna original
    return column

def convert_dataframe_types(dataframe):
    # Itera sobre cada columna del DataFrame
    for column_name in dataframe.columns:
        # Convierte el tipo de la columna
        dataframe[column_name] = convert_column_type(dataframe[column_name])

    return dataframe

# creamos las funciones try que convierten los valores a string, int y float. Si no se puede, devuelve el valor original.
# de esta forma vemos si la columna es de un tipo u otro y obtenemos el tipo de la columna y la volvemos de ese tipo al seguir
# iterando sobre las columnas del dataframe. Primero lo volvemos string y probamos si es un integer o un float. Si no lo es,
# se queda como string o un objeto (en el caso de los nans)

In [136]:
# Convertir cada columna al tipo que puede tomar.
loans = convert_dataframe_types(loans)
loans.dtypes

id                         int64
loan_amnt                float64
funded_amnt              float64
funded_amnt_inv          float64
term                      object
                          ...
disbursement_method       object
debt_settlement_flag      object
settlement_amount        float64
settlement_percentage    float64
settlement_term          float64
Length: 107, dtype: object

In [137]:
column_types = loans.dtypes

column_types

id                         int64
loan_amnt                float64
funded_amnt              float64
funded_amnt_inv          float64
term                      object
                          ...
disbursement_method       object
debt_settlement_flag      object
settlement_amount        float64
settlement_percentage    float64
settlement_term          float64
Length: 107, dtype: object

## Manejo de NaNs o missings

Maneja los datos de tipos missing. Elije una estrategia adecuada dependiendo del tipo de dato que le asignaste a la columna.

Crea codigo para **guardar** y **cargar** un archivo JSON en el que se guarde la `estrategia` y `valor` que utilizaste para **imputar**. Por ejemplo: Si hay una columna que se llama `columna 3` y utilizaste la estrategia de imputacion de media, y existe otra llamada `columna 4` y  elegiste la palabra 'missing' el JSON debera contener:  
  
 `{'columna 3':{'estrategia':'mean', 'valor':3.4}, 'columna 4':{'estrategia':'identificador', 'valor':'missing'}}`  

 De tal manera que para cada columna que tenga un metodo de imputacion apunte a otro diccionario donde el **key** `estrategia` describa de manera sencilla el metodo, y el **key** `valor` el valor usado. En general:   
 `{'nombre de la columna':{'estrategia':'descripcion de estrategia', 'valor':'valor utilizado'}}`. 
 

De utilizar mas de un metodo puedes anidarlos en una lista  
  `[{...},{...}]`.  

Incluso si la columna utilizada no sufrio imputacion, es necesario que la agregues al JSON.

La idea es que cualquier otra persona pueda cargar el el archivo JSON con tu funcion, entender que hiciste y replicarlo facilmente. No existe solo una respuesta correcta, pero tendras que justificar y explicar tus deciciones.

### Imputacion

In [144]:
imput_dict = {}
loans.replace('', np.nan, inplace=True) # reemplazamos los espacios en blanco por nans
def imputacion (dataframe):
    for column_name in dataframe.columns:
        if dataframe[column_name].dtype == 'int64':
            dataframe[column_name].fillna(int(dataframe[column_name].mean()), inplace=True)
            imput_dict[column_name] = {'estrategia': 'llenar con la media', 'valor': int(dataframe[column_name].mean())}
        # si la columna es int, la llenamos con la media para intentar no cambiar el como se distribuyen los datos
        if dataframe[column_name].dtype == 'float64':
            dataframe[column_name].fillna(dataframe[column_name].mean(), inplace=True)
            imput_dict[column_name] = {'estrategia': 'llenar con la media', 'valor': dataframe[column_name].mean()}
        # si la columna es float, la llenamos con la media para intentar no cambiar el como se distribuyen los datos
        if dataframe[column_name].dtype == 'object':
            dataframe[column_name].fillna(dataframe[column_name].mode(), inplace=True)
            imput_dict[column_name] = {'estrategia': 'llenar con la moda', 'valor': str(dataframe[column_name].mode())}
        # si la columna es de objetos, la llenamos con la moda para intentar seguir la tendencia de distribución de los datos
        if dataframe[column_name].dtype == 'string':
            dataframe[column_name].fillna(dataframe[column_name].mode(), inplace=True)
            imput_dict[column_name] = {'estrategia': 'llenar con la moda', 'valor': str(dataframe[column_name].mode())}
        # si la columna es de cadenas, la llenamos con la moda para intentar seguir la tendencia de distribución de los datos
        if dataframe[column_name].isnull().mean()>= .1:
            dataframe.drop(column_name, axis=1, inplace=True)
        # dropeamos las columnas que sean la mitad o más nans, para reducir las columnas vacias    
    return dataframe 
loans

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,...,hardship_length,hardship_dpd,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,settlement_amount,settlement_percentage,settlement_term
0,38098114,15000.0,15000.0,15000.0,60 months,12.39,336.64,C,C1,MANAGEMENT,...,3.0,14.037838,323.495132,8046.616541,186.563135,Cash,N,4768.376357,47.720519,8.265116
1,36805548,10400.0,10400.0,10400.0,36 months,6.99,321.08,A,A3,Truck Driver Delivery Personel,...,3.0,14.037838,323.495132,8046.616541,186.563135,Cash,N,4768.376357,47.720519,8.265116
2,37842129,21425.0,21425.0,21425.0,60 months,15.59,516.36,D,D1,Programming Analysis Supervisor,...,3.0,14.037838,323.495132,8046.616541,186.563135,Cash,N,4768.376357,47.720519,8.265116
3,37612354,12800.0,12800.0,12800.0,60 months,17.14,319.08,D,D4,Senior Sales Professional,...,3.0,14.037838,323.495132,8046.616541,186.563135,Cash,N,4768.376357,47.720519,8.265116
4,37662224,7650.0,7650.0,7650.0,36 months,13.66,260.20,C,C3,Technical Specialist,...,3.0,14.037838,323.495132,8046.616541,186.563135,Cash,N,4768.376357,47.720519,8.265116
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,22454240,8400.0,8400.0,8400.0,36 months,9.17,267.79,B,B1,Software Engineer,...,3.0,14.037838,323.495132,8046.616541,186.563135,Cash,N,4768.376357,47.720519,8.265116
99996,11396920,10000.0,10000.0,10000.0,36 months,12.99,336.90,C,C1,Assistant Professor of English,...,3.0,14.037838,323.495132,8046.616541,186.563135,Cash,N,4768.376357,47.720519,8.265116
99997,8556176,30000.0,30000.0,30000.0,60 months,20.99,811.44,E,E4,Facilities Tech 3,...,3.0,14.037838,323.495132,8046.616541,186.563135,Cash,N,4768.376357,47.720519,8.265116
99998,24023408,8475.0,8475.0,8475.0,36 months,24.99,336.92,F,F4,Records Examiner Analyst,...,3.0,14.037838,323.495132,8046.616541,186.563135,Cash,N,4768.376357,47.720519,8.265116
99999,24023398,25000.0,25000.0,25000.0,36 months,10.15,808.45,B,B2,Occupational Theapy Assistant,...,3.0,14.037838,323.495132,8046.616541,186.563135,Cash,N,4768.376357,47.720519,8.265116

In [145]:
loans = imputacion(loans)
loans

imput_dict
# de esta forma llenamos huecos con el promedio en caso de valores númericos y con la moda en caso de valores categóricos

{'id': {'estrategia': 'llenar con la media', 'valor': 30299954},
 'loan_amnt': {'estrategia': 'llenar con la media', 'valor': 14886.93},
 'funded_amnt': {'estrategia': 'llenar con la media', 'valor': 14886.93},
 'funded_amnt_inv': {'estrategia': 'llenar con la media', 'valor': 14883.9105},
 'term': {'estrategia': 'llenar con la moda',
  'valor': '0     36 months\nName: term, dtype: object'},
 'int_rate': {'estrategia': 'llenar con la media', 'valor': 13.2780734},
 'installment': {'estrategia': 'llenar con la media',
  'valor': 437.3318244000001},
 'grade': {'estrategia': 'llenar con la moda',
  'valor': '0    C\nName: grade, dtype: object'},
 'sub_grade': {'estrategia': 'llenar con la moda',
  'valor': '0    C1\nName: sub_grade, dtype: object'},
 'emp_title': {'estrategia': 'llenar con la moda',
  'valor': '0    Teacher\nName: emp_title, dtype: object'},
 'emp_length': {'estrategia': 'llenar con la moda',
  'valor': '0    10+ years\nName: emp_length, dtype: object'},
 'home_ownership': {'estrategia': 'llenar con la moda',
  'valor': '0    MORTGAGE\nName: home_ownership, dtype: object'},
 'annual_inc': {'estrategia': 'llenar con la media', 'valor': 74689.2425825},
 'verification_status': {'estrategia': 'llenar con la moda',
  'valor': '0    Source Verified\nName: verification_status, dtype: object'},
 'issue_d': {'estrategia': 'llenar con la moda',
  'valor': '0    Oct-2014\nName: issue_d, dtype: object'},
 'loan_status': {'estrategia': 'llenar con la moda',
  'valor': '0    Fully Paid\nName: loan_status, dtype: object'},
 'pymnt_plan': {'estrategia': 'llenar con la moda',
  'valor': '0    n\nName: pymnt_plan, dtype: object'},
 'purpose': {'estrategia': 'llenar con la moda',
  'valor': '0    debt_consolidation\nName: purpose, dtype: object'},
 'title': {'estrategia': 'llenar con la moda',
  'valor': '0    Debt consolidation\nName: title, dtype: object'},
 'zip_code': {'estrategia': 'llenar con la moda',
  'valor': '0    750xx\nName: zip_code, dtype: object'},
 'addr_state': {'estrategia': 'llenar con la moda',
  'valor': '0    CA\nName: addr_state, dtype: object'},
 'dti': {'estrategia': 'llenar con la media', 'valor': 18.7697866},
 'delinq_2yrs': {'estrategia': 'llenar con la media', 'valor': 0.34392},
 'earliest_cr_line': {'estrategia': 'llenar con la moda',
  'valor': '0    Aug-2001\nName: earliest_cr_line, dtype: object'},
 'fico_range_low': {'estrategia': 'llenar con la media', 'valor': 692.5798},
 'fico_range_high': {'estrategia': 'llenar con la media', 'valor': 696.57987},
 'inq_last_6mths': {'estrategia': 'llenar con la media', 'valor': 0.62189},
 'mths_since_last_delinq': {'estrategia': 'llenar con la media',
  'valor': 33.52252568376319},
 'mths_since_last_record': {'estrategia': 'llenar con la media',
  'valor': 69.39421467846044},
 'open_acc': {'estrategia': 'llenar con la media', 'valor': 11.83275},
 'pub_rec': {'estrategia': 'llenar con la media', 'valor': 0.21456},
 'revol_bal': {'estrategia': 'llenar con la media', 'valor': 17588.06238},
 'revol_util': {'estrategia': 'llenar con la media',
  'valor': 55.43498459137117},
 'total_acc': {'estrategia': 'llenar con la media', 'valor': 26.03486},
 'initial_list_status': {'estrategia': 'llenar con la moda',
  'valor': '0    w\nName: initial_list_status, dtype: object'},
 'out_prncp': {'estrategia': 'llenar con la media',
  'valor': 1215.1084604999999},
 'out_prncp_inv': {'estrategia': 'llenar con la media', 'valor': 1214.9064667},
 'total_pymnt': {'estrategia': 'llenar con la media',
  'valor': 15210.210257400642},
 'total_pymnt_inv': {'estrategia': 'llenar con la media',
  'valor': 15207.1216847},
 'total_rec_prncp': {'estrategia': 'llenar con la media',
  'valor': 11978.8756247},
 'total_rec_int': {'estrategia': 'llenar con la media',
  'valor': 3040.9570177000005},
 'total_rec_late_fee': {'estrategia': 'llenar con la media',
  'valor': 1.2300369003639051},
 'recoveries': {'estrategia': 'llenar con la media',
  'valor': 189.14756099939245},
 'collection_recovery_fee': {'estrategia': 'llenar con la media',
  'valor': 31.41689079499522},
 'last_pymnt_d': {'estrategia': 'llenar con la moda',
  'valor': '0    Dec-2017\nName: last_pymnt_d, dtype: object'},
 'last_pymnt_amnt': {'estrategia': 'llenar con la media',
  'valor': 4165.111319039872},
 'last_credit_pull_d': {'estrategia': 'llenar con la moda',
  'valor': '0    Dec-2017\nName: last_credit_pull_d, dtype: object'},
 'last_fico_range_high': {'estrategia': 'llenar con la media',
  'valor': 677.92764},
 'last_fico_range_low': {'estrategia': 'llenar con la media',
  'valor': 664.18765},
 'collections_12_mths_ex_med': {'estrategia': 'llenar con la media',
  'valor': 0.01701},
 'mths_since_last_major_derog': {'estrategia': 'llenar con la media',
  'valor': 43.45123653412547},
 'policy_code': {'estrategia': 'llenar con la media', 'valor': 1.0},
 'application_type': {'estrategia': 'llenar con la moda',
  'valor': '0    Individual\nName: application_type, dtype: object'},
 'acc_now_delinq': {'estrategia': 'llenar con la media', 'valor': 0.00638},
 'tot_coll_amt': {'estrategia': 'llenar con la media', 'valor': 235.46884},
 'tot_cur_bal': {'estrategia': 'llenar con la media', 'valor': 140910.91011},
 'total_rev_hi_lim': {'estrategia': 'llenar con la media',
  'valor': 32526.9722},
 'acc_open_past_24mths': {'estrategia': 'llenar con la media',
  'valor': 4.52473},
 'avg_cur_bal': {'estrategia': 'llenar con la media', 'valor': 13337.70501},
 'bc_open_to_buy': {'estrategia': 'llenar con la media',
  'valor': 8956.451808021038},
 'bc_util': {'estrategia': 'llenar con la media', 'valor': 64.5600220643307},
 'chargeoff_within_12_mths': {'estrategia': 'llenar con la media',
  'valor': 0.0104},
 'delinq_amnt': {'estrategia': 'llenar con la media', 'valor': 11.5565},
 'mo_sin_old_il_acct': {'estrategia': 'llenar con la media',
  'valor': 127.73700163929357},
 'mo_sin_old_rev_tl_op': {'estrategia': 'llenar con la media',
  'valor': 185.82682},
 'mo_sin_rcnt_rev_tl_op': {'estrategia': 'llenar con la media',
  'valor': 13.13111},
 'mo_sin_rcnt_tl': {'estrategia': 'llenar con la media', 'valor': 7.94572},
 'mort_acc': {'estrategia': 'llenar con la media', 'valor': 1.78588},
 'mths_since_recent_bc': {'estrategia': 'llenar con la media',
  'valor': 24.435205303635133},
 'mths_since_recent_bc_dlq': {'estrategia': 'llenar con la media',
  'valor': 39.633868833868846},
 'mths_since_recent_inq': {'estrategia': 'llenar con la media',
  'valor': 6.7667716395733075},
 'mths_since_recent_revol_delinq': {'estrategia': 'llenar con la media',
  'valor': 35.61543138230253},
 'num_accts_ever_120_pd': {'estrategia': 'llenar con la media',
  'valor': 0.52372},
 'num_actv_bc_tl': {'estrategia': 'llenar con la media', 'valor': 3.72897},
 'num_actv_rev_tl': {'estrategia': 'llenar con la media', 'valor': 5.83361},
 'num_bc_sats': {'estrategia': 'llenar con la media', 'valor': 4.66532},
 'num_bc_tl': {'estrategia': 'llenar con la media', 'valor': 8.42365},
 'num_il_tl': {'estrategia': 'llenar con la media', 'valor': 8.66296},
 'num_op_rev_tl': {'estrategia': 'llenar con la media', 'valor': 8.39263},
 'num_rev_accts': {'estrategia': 'llenar con la media', 'valor': 15.28991},
 'num_rev_tl_bal_gt_0': {'estrategia': 'llenar con la media',
  'valor': 5.81747},
 'num_sats': {'estrategia': 'llenar con la media', 'valor': 11.79017},
 'num_tl_120dpd_2m': {'estrategia': 'llenar con la media',
  'valor': 0.0008159601811431601},
 'num_tl_30dpd': {'estrategia': 'llenar con la media', 'valor': 0.00444},
 'num_tl_90g_dpd_24m': {'estrategia': 'llenar con la media', 'valor': 0.09143},
 'num_tl_op_past_12m': {'estrategia': 'llenar con la media', 'valor': 2.0957},
 'pct_tl_nvr_dlq': {'estrategia': 'llenar con la media', 'valor': 94.300697},
 'percent_bc_gt_75': {'estrategia': 'llenar con la media',
  'valor': 50.69469642550006},
 'pub_rec_bankruptcies': {'estrategia': 'llenar con la media',
  'valor': 0.12654},
 'tax_liens': {'estrategia': 'llenar con la media', 'valor': 0.05618},
 'tot_hi_cred_lim': {'estrategia': 'llenar con la media',
  'valor': 172385.51452},
 'total_bal_ex_mort': {'estrategia': 'llenar con la media',
  'valor': 50471.32121},
 'total_bc_limit': {'estrategia': 'llenar con la media', 'valor': 21073.77013},
 'total_il_high_credit_limit': {'estrategia': 'llenar con la media',
  'valor': 41031.31849},
 'hardship_flag': {'estrategia': 'llenar con la moda',
  'valor': '0    N\nName: hardship_flag, dtype: object'},
 'deferral_term': {'estrategia': 'llenar con la media', 'valor': 3.0},
 'hardship_amount': {'estrategia': 'llenar con la media',
  'valor': 110.33556756756752},
 'hardship_length': {'estrategia': 'llenar con la media', 'valor': 3.0},
 'hardship_dpd': {'estrategia': 'llenar con la media',
  'valor': 14.037837837837836},
 'orig_projected_additional_accrued_interest': {'estrategia': 'llenar con la media',
  'valor': 323.49513157894734},
 'hardship_payoff_balance_amount': {'estrategia': 'llenar con la media',
  'valor': 8046.616540540536},
 'hardship_last_payment_amount': {'estrategia': 'llenar con la media',
  'valor': 186.56313513513516},
 'disbursement_method': {'estrategia': 'llenar con la moda',
  'valor': '0    Cash\nName: disbursement_method, dtype: object'},
 'debt_settlement_flag': {'estrategia': 'llenar con la moda',
  'valor': '0    N\nName: debt_settlement_flag, dtype: object'},
 'settlement_amount': {'estrategia': 'llenar con la media',
  'valor': 4768.376356589147},
 'settlement_percentage': {'estrategia': 'llenar con la media',
  'valor': 47.72051937984495},
 'settlement_term': {'estrategia': 'llenar con la media',
  'valor': 8.265116279069767}}

### Codigo para salvar y cargar JSONs

In [147]:
with open('imput_dict.json', 'w') as f:
    json.dump(imput_dict, f)
# guardamos el diccionario como un json llamado imput_dict

In [149]:
# abrimo el json llamado imput_dict
with open('imput_dict.json', 'r') as o:
    json_dict = json.load(o)
json_dict

{'id': {'estrategia': 'llenar con la media', 'valor': 30299954},
 'loan_amnt': {'estrategia': 'llenar con la media', 'valor': 14886.93},
 'funded_amnt': {'estrategia': 'llenar con la media', 'valor': 14886.93},
 'funded_amnt_inv': {'estrategia': 'llenar con la media', 'valor': 14883.9105},
 'term': {'estrategia': 'llenar con la moda',
  'valor': '0     36 months\nName: term, dtype: object'},
 'int_rate': {'estrategia': 'llenar con la media', 'valor': 13.2780734},
 'installment': {'estrategia': 'llenar con la media',
  'valor': 437.3318244000001},
 'grade': {'estrategia': 'llenar con la moda',
  'valor': '0    C\nName: grade, dtype: object'},
 'sub_grade': {'estrategia': 'llenar con la moda',
  'valor': '0    C1\nName: sub_grade, dtype: object'},
 'emp_title': {'estrategia': 'llenar con la moda',
  'valor': '0    Teacher\nName: emp_title, dtype: object'},
 'emp_length': {'estrategia': 'llenar con la moda',
  'valor': '0    10+ years\nName: emp_length, dtype: object'},
 'home_ownership': {'estrategia': 'llenar con la moda',
  'valor': '0    MORTGAGE\nName: home_ownership, dtype: object'},
 'annual_inc': {'estrategia': 'llenar con la media', 'valor': 74689.2425825},
 'verification_status': {'estrategia': 'llenar con la moda',
  'valor': '0    Source Verified\nName: verification_status, dtype: object'},
 'issue_d': {'estrategia': 'llenar con la moda',
  'valor': '0    Oct-2014\nName: issue_d, dtype: object'},
 'loan_status': {'estrategia': 'llenar con la moda',
  'valor': '0    Fully Paid\nName: loan_status, dtype: object'},
 'pymnt_plan': {'estrategia': 'llenar con la moda',
  'valor': '0    n\nName: pymnt_plan, dtype: object'},
 'purpose': {'estrategia': 'llenar con la moda',
  'valor': '0    debt_consolidation\nName: purpose, dtype: object'},
 'title': {'estrategia': 'llenar con la moda',
  'valor': '0    Debt consolidation\nName: title, dtype: object'},
 'zip_code': {'estrategia': 'llenar con la moda',
  'valor': '0    750xx\nName: zip_code, dtype: object'},
 'addr_state': {'estrategia': 'llenar con la moda',
  'valor': '0    CA\nName: addr_state, dtype: object'},
 'dti': {'estrategia': 'llenar con la media', 'valor': 18.7697866},
 'delinq_2yrs': {'estrategia': 'llenar con la media', 'valor': 0.34392},
 'earliest_cr_line': {'estrategia': 'llenar con la moda',
  'valor': '0    Aug-2001\nName: earliest_cr_line, dtype: object'},
 'fico_range_low': {'estrategia': 'llenar con la media', 'valor': 692.5798},
 'fico_range_high': {'estrategia': 'llenar con la media', 'valor': 696.57987},
 'inq_last_6mths': {'estrategia': 'llenar con la media', 'valor': 0.62189},
 'mths_since_last_delinq': {'estrategia': 'llenar con la media',
  'valor': 33.52252568376319},
 'mths_since_last_record': {'estrategia': 'llenar con la media',
  'valor': 69.39421467846044},
 'open_acc': {'estrategia': 'llenar con la media', 'valor': 11.83275},
 'pub_rec': {'estrategia': 'llenar con la media', 'valor': 0.21456},
 'revol_bal': {'estrategia': 'llenar con la media', 'valor': 17588.06238},
 'revol_util': {'estrategia': 'llenar con la media',
  'valor': 55.43498459137117},
 'total_acc': {'estrategia': 'llenar con la media', 'valor': 26.03486},
 'initial_list_status': {'estrategia': 'llenar con la moda',
  'valor': '0    w\nName: initial_list_status, dtype: object'},
 'out_prncp': {'estrategia': 'llenar con la media',
  'valor': 1215.1084604999999},
 'out_prncp_inv': {'estrategia': 'llenar con la media', 'valor': 1214.9064667},
 'total_pymnt': {'estrategia': 'llenar con la media',
  'valor': 15210.210257400642},
 'total_pymnt_inv': {'estrategia': 'llenar con la media',
  'valor': 15207.1216847},
 'total_rec_prncp': {'estrategia': 'llenar con la media',
  'valor': 11978.8756247},
 'total_rec_int': {'estrategia': 'llenar con la media',
  'valor': 3040.9570177000005},
 'total_rec_late_fee': {'estrategia': 'llenar con la media',
  'valor': 1.2300369003639051},
 'recoveries': {'estrategia': 'llenar con la media',
  'valor': 189.14756099939245},
 'collection_recovery_fee': {'estrategia': 'llenar con la media',
  'valor': 31.41689079499522},
 'last_pymnt_d': {'estrategia': 'llenar con la moda',
  'valor': '0    Dec-2017\nName: last_pymnt_d, dtype: object'},
 'last_pymnt_amnt': {'estrategia': 'llenar con la media',
  'valor': 4165.111319039872},
 'last_credit_pull_d': {'estrategia': 'llenar con la moda',
  'valor': '0    Dec-2017\nName: last_credit_pull_d, dtype: object'},
 'last_fico_range_high': {'estrategia': 'llenar con la media',
  'valor': 677.92764},
 'last_fico_range_low': {'estrategia': 'llenar con la media',
  'valor': 664.18765},
 'collections_12_mths_ex_med': {'estrategia': 'llenar con la media',
  'valor': 0.01701},
 'mths_since_last_major_derog': {'estrategia': 'llenar con la media',
  'valor': 43.45123653412547},
 'policy_code': {'estrategia': 'llenar con la media', 'valor': 1.0},
 'application_type': {'estrategia': 'llenar con la moda',
  'valor': '0    Individual\nName: application_type, dtype: object'},
 'acc_now_delinq': {'estrategia': 'llenar con la media', 'valor': 0.00638},
 'tot_coll_amt': {'estrategia': 'llenar con la media', 'valor': 235.46884},
 'tot_cur_bal': {'estrategia': 'llenar con la media', 'valor': 140910.91011},
 'total_rev_hi_lim': {'estrategia': 'llenar con la media',
  'valor': 32526.9722},
 'acc_open_past_24mths': {'estrategia': 'llenar con la media',
  'valor': 4.52473},
 'avg_cur_bal': {'estrategia': 'llenar con la media', 'valor': 13337.70501},
 'bc_open_to_buy': {'estrategia': 'llenar con la media',
  'valor': 8956.451808021038},
 'bc_util': {'estrategia': 'llenar con la media', 'valor': 64.5600220643307},
 'chargeoff_within_12_mths': {'estrategia': 'llenar con la media',
  'valor': 0.0104},
 'delinq_amnt': {'estrategia': 'llenar con la media', 'valor': 11.5565},
 'mo_sin_old_il_acct': {'estrategia': 'llenar con la media',
  'valor': 127.73700163929357},
 'mo_sin_old_rev_tl_op': {'estrategia': 'llenar con la media',
  'valor': 185.82682},
 'mo_sin_rcnt_rev_tl_op': {'estrategia': 'llenar con la media',
  'valor': 13.13111},
 'mo_sin_rcnt_tl': {'estrategia': 'llenar con la media', 'valor': 7.94572},
 'mort_acc': {'estrategia': 'llenar con la media', 'valor': 1.78588},
 'mths_since_recent_bc': {'estrategia': 'llenar con la media',
  'valor': 24.435205303635133},
 'mths_since_recent_bc_dlq': {'estrategia': 'llenar con la media',
  'valor': 39.633868833868846},
 'mths_since_recent_inq': {'estrategia': 'llenar con la media',
  'valor': 6.7667716395733075},
 'mths_since_recent_revol_delinq': {'estrategia': 'llenar con la media',
  'valor': 35.61543138230253},
 'num_accts_ever_120_pd': {'estrategia': 'llenar con la media',
  'valor': 0.52372},
 'num_actv_bc_tl': {'estrategia': 'llenar con la media', 'valor': 3.72897},
 'num_actv_rev_tl': {'estrategia': 'llenar con la media', 'valor': 5.83361},
 'num_bc_sats': {'estrategia': 'llenar con la media', 'valor': 4.66532},
 'num_bc_tl': {'estrategia': 'llenar con la media', 'valor': 8.42365},
 'num_il_tl': {'estrategia': 'llenar con la media', 'valor': 8.66296},
 'num_op_rev_tl': {'estrategia': 'llenar con la media', 'valor': 8.39263},
 'num_rev_accts': {'estrategia': 'llenar con la media', 'valor': 15.28991},
 'num_rev_tl_bal_gt_0': {'estrategia': 'llenar con la media',
  'valor': 5.81747},
 'num_sats': {'estrategia': 'llenar con la media', 'valor': 11.79017},
 'num_tl_120dpd_2m': {'estrategia': 'llenar con la media',
  'valor': 0.0008159601811431601},
 'num_tl_30dpd': {'estrategia': 'llenar con la media', 'valor': 0.00444},
 'num_tl_90g_dpd_24m': {'estrategia': 'llenar con la media', 'valor': 0.09143},
 'num_tl_op_past_12m': {'estrategia': 'llenar con la media', 'valor': 2.0957},
 'pct_tl_nvr_dlq': {'estrategia': 'llenar con la media', 'valor': 94.300697},
 'percent_bc_gt_75': {'estrategia': 'llenar con la media',
  'valor': 50.69469642550006},
 'pub_rec_bankruptcies': {'estrategia': 'llenar con la media',
  'valor': 0.12654},
 'tax_liens': {'estrategia': 'llenar con la media', 'valor': 0.05618},
 'tot_hi_cred_lim': {'estrategia': 'llenar con la media',
  'valor': 172385.51452},
 'total_bal_ex_mort': {'estrategia': 'llenar con la media',
  'valor': 50471.32121},
 'total_bc_limit': {'estrategia': 'llenar con la media', 'valor': 21073.77013},
 'total_il_high_credit_limit': {'estrategia': 'llenar con la media',
  'valor': 41031.31849},
 'hardship_flag': {'estrategia': 'llenar con la moda',
  'valor': '0    N\nName: hardship_flag, dtype: object'},
 'deferral_term': {'estrategia': 'llenar con la media', 'valor': 3.0},
 'hardship_amount': {'estrategia': 'llenar con la media',
  'valor': 110.33556756756752},
 'hardship_length': {'estrategia': 'llenar con la media', 'valor': 3.0},
 'hardship_dpd': {'estrategia': 'llenar con la media',
  'valor': 14.037837837837836},
 'orig_projected_additional_accrued_interest': {'estrategia': 'llenar con la media',
  'valor': 323.49513157894734},
 'hardship_payoff_balance_amount': {'estrategia': 'llenar con la media',
  'valor': 8046.616540540536},
 'hardship_last_payment_amount': {'estrategia': 'llenar con la media',
  'valor': 186.56313513513516},
 'disbursement_method': {'estrategia': 'llenar con la moda',
  'valor': '0    Cash\nName: disbursement_method, dtype: object'},
 'debt_settlement_flag': {'estrategia': 'llenar con la moda',
  'valor': '0    N\nName: debt_settlement_flag, dtype: object'},
 'settlement_amount': {'estrategia': 'llenar con la media',
  'valor': 4768.376356589147},
 'settlement_percentage': {'estrategia': 'llenar con la media',
  'valor': 47.72051937984495},
 'settlement_term': {'estrategia': 'llenar con la media',
  'valor': 8.265116279069767}}