# Prediccion de Default en Prestamos

Para este proyecto utilizaremos un sample de los datos de Lending Club. La idea es predecir si cierto usuario cometera Default basado en informacion que la plataforma recolecta. Esto nos ayudara a mejorar la metodologia/pipeline de prestamo.

# Descripcion



Contiene los prestamos de esta plataforma:

    periodo 2007-2017Q3.
    887mil observaciones, sample de 100mil
    150 variables
    Target: loan status

# Objetivo

Realizar un ETL y un EDA

## ETL

0. Limpia los datos de tal manera que al final del ETL queden en formato `tidy`.
             cada variable es una columna y cada observaci√≥n (o caso) es una fila.   
1. Asegurate de cargar y leer los datos
2. Crea una tabla donde se guarde el nombre de la columna y el tipo de dato: (`column_name`,   `type`).
3. Asegurate de pensar cual es el tipo de dato correcto. Porque elejiste strig/object o float o int?. No hay respuestas incorrectas como tal, pero tienes que justificar tu decision.
4. Maneja missings o nans de la manera adecuada. Justifica cada decision

## EDA

0. Preparar lo datos para un pipeline de datos
1. Quitar columnas inservibles 
2. Imputar valores
3. Mantener replicabildiad y reproducibilidad

**No olvides anotar tus justificaciones en celdas para recordar cuando te toque explicarlo.** Puedes agregar el numero de celdas que necesites para poner tu explicacion y el codigo, solo manten la estructura.

# ETL

In [2]:
import pandas as pd
import numpy as np
import gzip
import openpyxl
import pickle

from io import StringIO
import requests

Vas a obtener 2 errores, solucionalo con los visto en clase.  
Tip: Se arreglan con argumentos adicionales de la funcion `read_csv`  
Documentacion: https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

In [5]:
# URL del archivo CSV comprimido en formato Gzip
url = 'https://github.com/sonder-art/fdd_prim_2023/blob/main/codigo/pandas/LoansData_sample.csv.gz?raw=true'

# Descargar el archivo comprimido en formato Gzip
response = requests.get(url)
data = gzip.decompress(response.content).decode('utf-8')

# Crear un objeto StringIO para leer el CSV con pandas
loans = pd.read_csv(StringIO(data))

loans

/tmp/ipykernel_285/2403947836.py:9: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  loans = pd.read_csv(StringIO(data))

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,0,38098114,NaN,15000.0,15000.0,15000.0,60 months,12.39,336.64,C,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,1,36805548,NaN,10400.0,10400.0,10400.0,36 months,6.99,321.08,A,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,2,37842129,NaN,21425.0,21425.0,21425.0,60 months,15.59,516.36,D,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,3,37612354,NaN,12800.0,12800.0,12800.0,60 months,17.14,319.08,D,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,4,37662224,NaN,7650.0,7650.0,7650.0,36 months,13.66,260.20,C,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,22454240,NaN,8400.0,8400.0,8400.0,36 months,9.17,267.79,B,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99996,99996,11396920,NaN,10000.0,10000.0,10000.0,36 months,12.99,336.90,C,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99997,99997,8556176,NaN,30000.0,30000.0,30000.0,60 months,20.99,811.44,E,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99998,99998,24023408,NaN,8475.0,8475.0,8475.0,36 months,24.99,336.92,F,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99999,99999,24023398,NaN,25000.0,25000.0,25000.0,36 months,10.15,808.45,B,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

## Tabla (column_name, type)

Revisa el metodo pd.DataFrame.dtypes. https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dtypes.html

In [6]:
column_types=loans.dtypes
#print (column_types)

# Crear un DataFrame m√°s legible
column_info = pd.DataFrame({'Columna': column_types.index, 'Tipo': column_types.values})

# Imprimir el DataFrame con la informaci√≥n
print(column_info)

                   Columna     Tipo
0               Unnamed: 0    int64
1                       id    int64
2                member_id  float64
3                loan_amnt  float64
4              funded_amnt  float64
..                     ...      ...
146      settlement_status   object
147        settlement_date   object
148      settlement_amount  float64
149  settlement_percentage  float64
150        settlement_term  float64

[151 rows x 2 columns]

## Cargar descripcion de columnas

La siguiente tabla tiene una descripcion del significado de cada columna

In [21]:
datos_dict = pd.read_excel('https://resources.lendingclub.com/LCDataDictionary.xlsx')
datos_dict.columns = ['feature', 'description']
pd.set_option('display.max_rows', None)

In [7]:
datos_dict

                   feature                                        description
0           acc_now_delinq  The number of accounts on which the borrower i...
1     acc_open_past_24mths         Number of trades opened in past 24 months.
2               addr_state  The state provided by the borrower in the loan...
3                 all_util              Balance to credit limit on all trades
4               annual_inc  The self-reported annual income provided by th...
..                     ...                                                ...
148      settlement_amount  The loan amount that the borrower has agreed t...
149  settlement_percentage  The settlement amount as a percentage of the p...
150        settlement_term  The number of months that the borrower will be...
151                    NaN                                                NaN
152                    NaN  * Employer Title replaces Employer Name for al...

[153 rows x 2 columns]

### Pickle

Crea codigo para **guardar** y **cargar** el DataFrame de `datos_dict` creada en las celdas anteriores en formato **pickle**

In [13]:
# COdigo guardar

# Guardar DataFrame en formato pickle
with open('datos.pkl', 'wb') as file:
    pickle.dump(loans, file)

In [14]:
# Codigo para cargar

# Cargar DataFrame desde el archivo pickle
with open('datos.pkl', 'rb') as file:
    loaded_df = pickle.load(file)
    
    
print("DataFrame cargado desde pickle:")
print(loaded_df)

DataFrame cargado desde pickle:
       Unnamed: 0        id  member_id  loan_amnt  funded_amnt  \
0               0  38098114        NaN    15000.0      15000.0
1               1  36805548        NaN    10400.0      10400.0
2               2  37842129        NaN    21425.0      21425.0
3               3  37612354        NaN    12800.0      12800.0
4               4  37662224        NaN     7650.0       7650.0
...           ...       ...        ...        ...          ...
99995       99995  22454240        NaN     8400.0       8400.0
99996       99996  11396920        NaN    10000.0      10000.0
99997       99997   8556176        NaN    30000.0      30000.0
99998       99998  24023408        NaN     8475.0       8475.0
99999       99999  24023398        NaN    25000.0      25000.0

       funded_amnt_inv        term  int_rate  installment grade  ...  \
0              15000.0   60 months     12.39       336.64     C  ...
1              10400.0   36 months      6.99       321.08     A  ...
2              21425.0   60 months     15.59       516.36     D  ...
3              12800.0   60 months     17.14       319.08     D  ...
4               7650.0   36 months     13.66       260.20     C  ...
...                ...         ...       ...          ...   ...  ...
99995           8400.0   36 months      9.17       267.79     B  ...
99996          10000.0   36 months     12.99       336.90     C  ...
99997          30000.0   60 months     20.99       811.44     E  ...
99998           8475.0   36 months     24.99       336.92     F  ...
99999          25000.0   36 months     10.15       808.45     B  ...

      hardship_payoff_balance_amount hardship_last_payment_amount  \
0                                NaN                          NaN
1                                NaN                          NaN
2                                NaN                          NaN
3                                NaN                          NaN
4                                NaN                          NaN
...                              ...                          ...
99995                            NaN                          NaN
99996                            NaN                          NaN
99997                            NaN                          NaN
99998                            NaN                          NaN
99999                            NaN                          NaN

      disbursement_method debt_settlement_flag  debt_settlement_flag_date  \
0                    Cash                    N                        NaN
1                    Cash                    N                        NaN
2                    Cash                    N                        NaN
3                    Cash                    N                        NaN
4                    Cash                    N                        NaN
...                   ...                  ...                        ...
99995                Cash                    N                        NaN
99996                Cash                    N                        NaN
99997                Cash                    N                        NaN
99998                Cash                    N                        NaN
99999                Cash                    N                        NaN

      settlement_status settlement_date settlement_amount  \
0                   NaN             NaN               NaN
1                   NaN             NaN               NaN
2                   NaN             NaN               NaN
3                   NaN             NaN               NaN
4                   NaN             NaN               NaN
...                 ...             ...               ...
99995               NaN             NaN               NaN
99996               NaN             NaN               NaN
99997               NaN             NaN               NaN
99998               NaN             NaN               NaN
99999               NaN             NaN               NaN

      settlement_percentage settlement_term
0                       NaN             NaN
1                       NaN             NaN
2                       NaN             NaN
3                       NaN             NaN
4                       NaN             NaN
...                     ...             ...
99995                   NaN             NaN
99996                   NaN             NaN
99997                   NaN             NaN
99998                   NaN             NaN
99999                   NaN             NaN

[100000 rows x 151 columns]

## Tipos de Datos

Realiza las transformaciones o casteos (casting) que creas necesarios a tus datos de tal manera que el typo de dato sea adecuado. Al terminar recrea la tabla `column_types` con los nuevos tipos.

No olvides anotar tus justificaciones para recordar cuando te toque explicarlo.

Columnas eliminadas vac√≠as

In [8]:
# Manejos de tipos 1
loans = loans.drop('member_id', axis=1)
loans = loans.drop('desc', axis=1)
loans = loans.drop('annual_inc_joint', axis=1)
loans = loans.drop('dti_joint', axis=1)
loans = loans.drop('verification_status_joint', axis=1)

encabezados = loans.columns.tolist()
print(encabezados)

col=['open_acc_6m', 'open_act_il', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc']
loans = loans.drop(columns=col, errors='ignore')

col2=['desc','inq_fi', 'total_cu_tl', 'inq_last_12m']
loans = loans.drop(columns=col2, errors='ignore')

col3=['revol_bal_joint','sec_app_fico_range_low','sec_app_fico_range_high','sec_app_earliest_cr_line','sec_app_inq_last_6mths','sec_app_mort_acc','sec_app_open_acc','sec_app_revol_util','sec_app_open_act_il','sec_app_num_rev_accts','sec_app_chargeoff_within_12_mths','sec_app_collections_12_mths_ex_med','sec_app_mths_since_last_major_derog']
loans = loans.drop(columns=col3, errors='ignore')

#pymnt_plan tiene el mismo valor n para todos los datos, por lo tanto, no brinda informaci√≥n particular y para facilidad, se euitar√°
loans = loans.drop(columns='pymnt_plan', errors='ignore')

# Tu codigo aqui

['Unnamed: 0', 'id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'annual_inc', 'verification_status', 'issue_d', 'loan_status', 'pymnt_plan', 'purpose', 'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line', 'fico_range_low', 'fico_range_high', 'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d', 'last_fico_range_high', 'last_fico_range_low', 'collections_12_mths_ex_med', 'mths_since_last_major_derog', 'policy_code', 'application_type', 'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m', 'open_act_il', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m', 'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util', 'chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl', 'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq', 'mths_since_recent_inq', 'mths_since_recent_revol_delinq', 'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl', 'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl', 'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit', 'revol_bal_joint', 'sec_app_fico_range_low', 'sec_app_fico_range_high', 'sec_app_earliest_cr_line', 'sec_app_inq_last_6mths', 'sec_app_mort_acc', 'sec_app_open_acc', 'sec_app_revol_util', 'sec_app_open_act_il', 'sec_app_num_rev_accts', 'sec_app_chargeoff_within_12_mths', 'sec_app_collections_12_mths_ex_med', 'sec_app_mths_since_last_major_derog', 'hardship_flag', 'hardship_type', 'hardship_reason', 'hardship_status', 'deferral_term', 'hardship_amount', 'hardship_start_date', 'hardship_end_date', 'payment_plan_start_date', 'hardship_length', 'hardship_dpd', 'hardship_loan_status', 'orig_projected_additional_accrued_interest', 'hardship_payoff_balance_amount', 'hardship_last_payment_amount', 'disbursement_method', 'debt_settlement_flag', 'debt_settlement_flag_date', 'settlement_status', 'settlement_date', 'settlement_amount', 'settlement_percentage', 'settlement_term']

In [17]:
#Checo las colulmas sobrantes
#Tipo de las columnas 
column_types=loans.dtypes
column_info = pd.DataFrame({'Columna': column_types.index, 'Tipo': column_types.values})
# Imprimir el DataFrame con la informaci√≥n
pd.set_option('display.max_rows', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)
print(column_info)

                                        Columna     Tipo
0                                    Unnamed: 0    int64
1                                            id    int64
2                                     loan_amnt  float64
3                                   funded_amnt  float64
4                               funded_amnt_inv  float64
5                                          term   object
6                                      int_rate  float64
7                                   installment  float64
8                                         grade   object
9                                     sub_grade   object
10                                    emp_title   object
11                                   emp_length   object
12                               home_ownership   object
13                                   annual_inc  float64
14                          verification_status   object
15                                      issue_d   object
16                                  loan_status   object
17                                   pymnt_plan   object
18                                      purpose   object
19                                        title   object
20                                     zip_code   object
21                                   addr_state   object
22                                          dti  float64
23                                  delinq_2yrs  float64
24                             earliest_cr_line   object
25                               fico_range_low  float64
26                              fico_range_high  float64
27                               inq_last_6mths  float64
28                       mths_since_last_delinq  float64
29                       mths_since_last_record  float64
30                                     open_acc  float64
31                                      pub_rec  float64
32                                    revol_bal  float64
33                                   revol_util  float64
34                                    total_acc  float64
35                          initial_list_status   object
36                                    out_prncp  float64
37                                out_prncp_inv  float64
38                                  total_pymnt  float64
39                              total_pymnt_inv  float64
40                              total_rec_prncp  float64
41                                total_rec_int  float64
42                           total_rec_late_fee  float64
43                                   recoveries  float64
44                      collection_recovery_fee  float64
45                                 last_pymnt_d   object
46                              last_pymnt_amnt  float64
47                                 next_pymnt_d   object
48                           last_credit_pull_d   object
49                         last_fico_range_high  float64
50                          last_fico_range_low  float64
51                   collections_12_mths_ex_med  float64
52                  mths_since_last_major_derog  float64
53                                  policy_code  float64
54                             application_type   object
55                               acc_now_delinq  float64
56                                 tot_coll_amt  float64
57                                  tot_cur_bal  float64
58                                     all_util  float64
59                             total_rev_hi_lim  float64
60                         acc_open_past_24mths  float64
61                                  avg_cur_bal  float64
62                               bc_open_to_buy  float64
63                                      bc_util  float64
64                     chargeoff_within_12_mths  float64
65                                  delinq_amnt  float64
66                           mo_sin_old_il_acct  float64
67                         mo_sin_old_rev_tl_op  float64
68                        mo_sin_rcnt_rev_tl_op  float64
69                               mo_sin_rcnt_tl  float64
70                                     mort_acc  float64
71                         mths_since_recent_bc  float64
72                     mths_since_recent_bc_dlq  float64
73                        mths_since_recent_inq  float64
74               mths_since_recent_revol_delinq  float64
75                        num_accts_ever_120_pd  float64
76                               num_actv_bc_tl  float64
77                              num_actv_rev_tl  float64
78                                  num_bc_sats  float64
79                                    num_bc_tl  float64
80                                    num_il_tl  float64
81                                num_op_rev_tl  float64
82                                num_rev_accts  float64
83                          num_rev_tl_bal_gt_0  float64
84                                     num_sats  float64
85                             num_tl_120dpd_2m  float64
86                                 num_tl_30dpd  float64
87                           num_tl_90g_dpd_24m  float64
88                           num_tl_op_past_12m  float64
89                               pct_tl_nvr_dlq  float64
90                             percent_bc_gt_75  float64
91                         pub_rec_bankruptcies  float64
92                                    tax_liens  float64
93                              tot_hi_cred_lim  float64
94                            total_bal_ex_mort  float64
95                               total_bc_limit  float64
96                   total_il_high_credit_limit  float64
97                                hardship_flag   object
98                                hardship_type   object
99                              hardship_reason   object
100                             hardship_status   object
101                               deferral_term  float64
102                             hardship_amount  float64
103                         hardship_start_date   object
104                           hardship_end_date   object
105                     payment_plan_start_date   object
106                             hardship_length  float64
107                                hardship_dpd  float64
108                        hardship_loan_status   object
109  orig_projected_additional_accrued_interest  float64
110              hardship_payoff_balance_amount  float64
111                hardship_last_payment_amount  float64
112                         disbursement_method   object
113                        debt_settlement_flag   object
114                   debt_settlement_flag_date   object
115                           settlement_status   object
116                             settlement_date   object
117                           settlement_amount  float64
118                       settlement_percentage  float64
119                             settlement_term  float64

In [20]:
#Convierto subgrade a string, todos los tipos est√° compuestos por una variable y un n√∫mero
loans['sub_grade'] = loans['sub_grade'].astype(str)
#Covierto grade a string, pues solo es una consonante igualmente addr_state
loans['grade'] = loans['sub_grade'].astype(str)
loans['addr_state'] = loans['addr_state'].astype(str)
#Las columnas de las cantidades son todas enteros, por lo tanto asumo que no hay pr√©stamos con decimales           
loans['loan_amnt'] = loans['loan_amnt'].astype(int)
loans['funded_amnt'] = loans['funded_amnt'].astype(int)
#Convierto las fechas a datetime
loans['issue_d'] = pd.to_datetime(loans['issue_d'], format='%b-%Y')
loans['earliest_cr_line'] = pd.to_datetime(loans['earliest_cr_line'], format='%b-%Y')
loans['last_pymnt_d'] = pd.to_datetime(loans['last_pymnt_d'], format='%b-%Y')
loans['next_pymnt_d'] = pd.to_datetime(loans['next_pymnt_d'], format='%b-%Y')
loans['last_credit_pull_d'] = pd.to_datetime(loans['last_credit_pull_d'], format='%b-%Y')
loans['last_pymnt_d'] = pd.to_datetime(loans['last_pymnt_d'], format='%b-%Y')


#Los meses del ingreso se cuentan como meses enteros
loans['inq_last_6mths'] = loans['inq_last_6mths'].astype(int)
loans['mths_since_last_delinq'] = loans['mths_since_last_delinq'].astype(int)
loans['mths_since_last_record'] = loans['mths_since_last_record'].astype(int)
loans['open_acc'] = loans['open_acc'].astype(int)
loans['total_acc'] = loans['total_acc'].astype(int)


loans['initial_list_status'] = loans['initial_list_status'].astype(str)

#Casteo a Booleanos
loans['verification_status'] == 'verified'

In [ ]:
#Manejo de Missings Todas son enteero
# Reemplazar valores nulos con numpy.nan
loans['inq_last_6mths'] = loans['inq_last_6mths'].replace('', np.nan)
loans['mths_since_last_delinq'] = loans['mths_since_last_delinq'].replace('', np.nan)
loans['mths_since_last_record'] = loans['mths_since_last_record'].replace('', np.nan)
loans['mths_since_last_major_derog'] = loans['mths_since_last_major_derog'].replace('', np.nan)


#Relleno las columnas de las fechas
loans['next_pymnt_d'] = loans['mi_columna'].fillna(np.nan)

## Manejo de NaNs o missings

Maneja los datos de tipos missing. Elije una estrategia adecuada dependiendo del tipo de dato que le asignaste a la columna.

Crea codigo para **guardar** y **cargar** un archivo JSON en el que se guarde la `estrategia` y `valor` que utilizaste para **imputar**. Por ejemplo: Si hay una columna que se llama `columna 3` y utilizaste la estrategia de imputacion de media, y existe otra llamada `columna 4` y  elegiste la palabra 'missing' el JSON debera contener:  
  
 `{'columna 3':{'estrategia':'mean', 'valor':3.4}, 'columna 4':{'estrategia':'identificador', 'valor':'missing'}}`  

 De tal manera que para cada columna que tenga un metodo de imputacion apunte a otro diccionario donde el **key** `estrategia` describa de manera sencilla el metodo, y el **key** `valor` el valor usado. En general:   
 `{'nombre de la columna':{'estrategia':'descripcion de estrategia', 'valor':'valor utilizado'}}`. 
 

De utilizar mas de un metodo puedes anidarlos en una lista  
  `[{...},{...}]`.  

Incluso si la columna utilizada no sufrio imputacion, es necesario que la agregues al JSON.

La idea es que cualquier otra persona pueda cargar el el archivo JSON con tu funcion, entender que hiciste y replicarlo facilmente. No existe solo una respuesta correcta, pero tendras que justificar y explicar tus deciciones.

### Imputacion

In [ ]:
#Json

estrategias_json={"id","member_id","loan_amnt", "delinq2Yrs":{"estartegia":"Elegir a las personas que se hayan retrasado en el pago", "valor": ">=1"},
 "acc_now_delinq":{"estrategia":"Personas con m√°s en una cuenta que deba", "valor":">=1"}, 
 "revol_util":{"estrategia": "Encotrar los cr√©ditos mayores al promedio", "valor":">=mean"},
 "empLength":{"estrategia":"Estabilidad de la personas por sus a√±os de empleo", "valor":"<=1"},
  "loan_amnt":{"estrategia": "Pr√©stamo mayor al promedio", "valor":">=mean"},
 "pub_rec_bankruptcies":{"estrategia":" Rgistros p√∫blicos desfavorables", "valor":">=1"},
"funded_amnt", "funded_amnt_inv","term	int_rate", "installment", "grade","sub_grade","emp_title", "emp_length"
"home_ownership","annual_inc", "verification_status","issue_d", "loan_status", "pymnt_plan","desc","purpose",
"title", "zip_code", "addr_state","earliest_cr_line","fico_range_low", "fico_range_high","inq_last_6mths",
"mths_since_last_delinq","mths_since_last_record", "open_acc", "pub_rec", "revol_bal","revol_util","total_acc",
"initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt","total_pymnt_inv",	"total_rec_prncp",	"total_rec_int"}
# Guardar el JSON en un archivo
with open('estrategias_imputacion.json', 'w') as json_file:
    json.dump(estrategias_json, json_file)

print("JSON guardado exitosamente.")

# Cargar el JSON desde el archivo
with open('estrategias_imputacion.json', 'r') as json_file:
    estrategias_cargadas = json.load(json_file)

# Mostrar el JSON cargado
print("JSON cargado:")
print(estrategias_cargadas)

### Codigo para salvar y cargar JSONs