# Prediccion de Default en Prestamos

Para este proyecto utilizaremos un sample de los datos de Lending Club. La idea es predecir si cierto usuario cometera Default basado en informacion que la plataforma recolecta. Esto nos ayudara a mejorar la metodologia/pipeline de prestamo.

# Descripcion



Contiene los prestamos de esta plataforma:

    periodo 2007-2017Q3.
    887mil observaciones, sample de 100mil
    150 variables
    Target: loan status

# Objetivo

Realizar un ETL y un EDA

## ETL

0. Limpia los datos de tal manera que al final del ETL queden en formato `tidy`.
1. Asegurate de cargar y leer los datos
2. Crea una tabla donde se guarde el nombre de la columna y el tipo de dato: (`column_name`,   `type`).
3. Asegurate de pensar cual es el tipo de dato correcto. Porque elejiste strig/object o float o int?. No hay respuestas incorrectas como tal, pero tienes que justificar tu decision.
4. Maneja missings o nans de la manera adecuada. Justifica cada decision

## EDA

0. Preparar lo datos para un pipeline de datos
1. Quitar columnas inservibles 
2. Imputar valores
3. Mantener replicabildiad y reproducibilidad

**No olvides anotar tus justificaciones en celdas para recordar cuando te toque explicarlo.** Puedes agregar el numero de celdas que necesites para poner tu explicacion y el codigo, solo manten la estructura.

# ETL

In [96]:
import pandas as pd
import numpy as np

Vas a obtener 2 errores, solucionalo con los visto en clase.  
Tip: Se arreglan con argumentos adicionales de la funcion `read_csv`  
Documentacion: https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

In [97]:

import gzip
import io
import requests

#no podemos leerlo directo del url
url = 'https://github.com/sonder-art/fdd_prim_2023/blob/main/codigo/pandas/LoansData_sample.csv.gz?raw=true'

# obtenemos el archivo
response = requests.get(url)
compressed_file = io.BytesIO(response.content)

# descomprimimos y leermo
with gzip.open(compressed_file, 'rb') as f:
    loans = pd.read_csv(f, encoding='latin-1')

loans

/var/folders/4j/rgdbdzfn6t706bdlhgzdg3p80000gn/T/ipykernel_40879/3910623779.py:14: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  loans = pd.read_csv(f, encoding='latin-1')

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,0,38098114,NaN,15000.0,15000.0,15000.0,60 months,12.39,336.64,C,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,1,36805548,NaN,10400.0,10400.0,10400.0,36 months,6.99,321.08,A,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,2,37842129,NaN,21425.0,21425.0,21425.0,60 months,15.59,516.36,D,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,3,37612354,NaN,12800.0,12800.0,12800.0,60 months,17.14,319.08,D,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,4,37662224,NaN,7650.0,7650.0,7650.0,36 months,13.66,260.20,C,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,22454240,NaN,8400.0,8400.0,8400.0,36 months,9.17,267.79,B,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99996,99996,11396920,NaN,10000.0,10000.0,10000.0,36 months,12.99,336.90,C,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99997,99997,8556176,NaN,30000.0,30000.0,30000.0,60 months,20.99,811.44,E,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99998,99998,24023408,NaN,8475.0,8475.0,8475.0,36 months,24.99,336.92,F,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
99999,99999,24023398,NaN,25000.0,25000.0,25000.0,36 months,10.15,808.45,B,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

## Tabla (column_name, type)

Revisa el metodo pd.DataFrame.dtypes. https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dtypes.html

In [98]:
column_types = loans.dtypes

column_types
#busquedas:

Unnamed: 0                 int64
id                         int64
member_id                float64
loan_amnt                float64
funded_amnt              float64
                          ...
settlement_status         object
settlement_date           object
settlement_amount        float64
settlement_percentage    float64
settlement_term          float64
Length: 151, dtype: object

## Cargar descripcion de columnas

La siguiente tabla tiene una descripcion del significado de cada columna

In [99]:


datos_dict = pd.read_excel(
    'https://resources.lendingclub.com/LCDataDictionary.xlsx')
datos_dict.columns = ['feature', 'description']

In [100]:
datos_dict

                   feature                                        description
0           acc_now_delinq  The number of accounts on which the borrower i...
1     acc_open_past_24mths         Number of trades opened in past 24 months.
2               addr_state  The state provided by the borrower in the loan...
3                 all_util              Balance to credit limit on all trades
4               annual_inc  The self-reported annual income provided by th...
..                     ...                                                ...
148      settlement_amount  The loan amount that the borrower has agreed t...
149  settlement_percentage  The settlement amount as a percentage of the p...
150        settlement_term  The number of months that the borrower will be...
151                    NaN                                                NaN
152                    NaN  * Employer Title replaces Employer Name for al...

[153 rows x 2 columns]

### Pickle

Crea codigo para **guardar** y **cargar** el DataFrame de `datos_dict` creada en las celdas anteriores en formato **pickle**

In [101]:
# COdigo guardar
import pickle

with open('datos_dict.pickle', 'wb') as f:
    pickle.dump(datos_dict, f)

In [102]:
# Codigo para cargar


with open('datos_dict.pickle', 'rb') as f:
    datos_dict_cargados = pickle.load(f)

print(datos_dict_cargados)

                   feature                                        description
0           acc_now_delinq  The number of accounts on which the borrower i...
1     acc_open_past_24mths         Number of trades opened in past 24 months.
2               addr_state  The state provided by the borrower in the loan...
3                 all_util              Balance to credit limit on all trades
4               annual_inc  The self-reported annual income provided by th...
..                     ...                                                ...
148      settlement_amount  The loan amount that the borrower has agreed t...
149  settlement_percentage  The settlement amount as a percentage of the p...
150        settlement_term  The number of months that the borrower will be...
151                    NaN                                                NaN
152                    NaN  * Employer Title replaces Employer Name for al...

[153 rows x 2 columns]

## Tipos de Datos

Realiza las transformaciones o casteos (casting) que creas necesarios a tus datos de tal manera que el typo de dato sea adecuado. Al terminar recrea la tabla `column_types` con los nuevos tipos.

No olvides anotar tus justificaciones para recordar cuando te toque explicarlo.

In [103]:
#creamos un back-up. Lo más probable es que no sea necesario pero si no estan de acuerdo con la limpieza mejor tener otro archivo
#ademas sirve para comparar si se realizan los cambios correctamente

loansf=loans

Los loans solo pueden tomar valores 36 y 60.
Exigiremos que sean enteros y despues nos aseguraremos de que caigan en una de esas dos clasificaciones

In [104]:
loansf['term'] = loansf['term'].astype(str)
loansf['term'] = loansf['term'].apply(lambda x: x.split()[0])
loansf['term'] = loansf['term'].astype(int)

condicion = ~((loansf['term'] == 36) | (loansf['term'] == 60))
loansf.loc[condicion, 'term'] = np.nan

Bye bye mayusculas. En varias columnas los usuarios podrian haber variado el registro de datos. Quitamos las mayusculas de dichas columnas para que al trabajar con los datos se hagan groupbys correctos.

Ej. juan=Juan y Veracruz=veracruz

In [105]:
#loansf['addrState'] = loansf['addrState'].astype(str)
#loansf['addrState'] = loansf['addrState'].apply(lambda x: str(x.lower())) 

loansf['desc'] = loansf['desc'].astype(str)
loansf['desc'] = loansf['desc'].apply(lambda x: str(x.lower()))

loansf['emp_title'] = loansf['emp_title'].astype(str)
loansf['emp_title'] = loansf['emp_title'].apply(lambda x: str(x.lower()))

loansf['purpose'] = loansf['purpose'].astype(str)
loansf['purpose'] = loansf['purpose'].apply(lambda x: str(x.lower()))

Para todas las columnas que exigen un rango de opciones para el valor de la celda. exigimos que las cumplan

In [106]:

loansf['home_ownership'] = loansf['home_ownership'].astype(str)
loansf['initial_list_status'] = loansf['initial_list_status'].astype(str)
#loansf['reviewStatus'] = loansf['reviewStatus'].astype(str)
loansf['disbursement_method'] = loansf['disbursement_method'].astype(str)


#exigimos mayusculas pq todos los posibles valores estan en mayusculas
loansf['home_ownership'] = loansf['home_ownership'].apply(lambda x: str(x.upper()))
loansf['initial_list_status'] = loansf['initial_list_status'].apply(lambda x: str(x.upper()))
#loansf['reviewStatus'] = loansf['reviewStatus'].apply(lambda x: str(x.upper()))
loansf['disbursement_method'] = loansf['disbursement_method'].apply(lambda x: str(x.upper()))


def hoCheck(cell):
    #exigimos que este en los valores dados
    val = ['RENT', 'MORTGAGE', 'OWN', 'OTHER']
    if cell not in val:#no ponemos un nan pq existe una opcion de otro
        cell = 'OTHER'
    return cell

def ilsCheck(cell):
    #exigimos que este en los valores dados
    val = ['W','F']
    if cell not in val:
        cell = np.nan
    return cell

def rsCheck(cell):
    #exigimos que este en los valores dados
    val = ['APPROVED','NOT_APPROVED']
    if cell not in val:
        cell = np.nan
    return cell

def dmCheck(cell):
    #exigimos que este en los valores dados
    val = ['CASH', 'DIRECT_PAY']
    if cell not in val:
        cell = np.nan
    return cell

loansf['home_ownership'] = loansf['home_ownership'].apply(lambda x: hoCheck(x))
loansf['initial_list_status'] = loansf['initial_list_status'].apply(lambda x: ilsCheck(x))
#loansf['reviewStatus'] = loansf['reviewStatus'].apply(lambda x: rsCheck(x))
loansf['disbursement_method'] = loansf['disbursement_method'].apply(lambda x: dmCheck(x))

Emp length tambien tiene un valor determinado. es entre 0-10 integer

In [119]:
import re #el buen regex

print(loansf['emp_length'].head(10))

patron= r'\b\d{1,2}\b'

def elCheck1(texto):
    numeros = re.findall(r'\d+', str(texto))  # Encuentra todos los números en la cadena
    return int(numeros[0]) if numeros else None

def elCheck2(cell):
    if (cell > 10) or (cell < 0):
        cell=np.nan
        
loansf['emp_length'] = loansf['emp_length'].apply(lambda x: elCheck1(x)) 
#loansf['emp_length'] = loansf['emp_length'].astype(int)       
loansf['emp_length'] = loansf['emp_length'].apply(lambda x: elCheck2(x))

0    10.0
1     8.0
2     6.0
3    10.0
4     1.0
5    10.0
6     1.0
7     6.0
8    10.0
9     2.0
Name: emp_length, dtype: float64

Existen varias columnas de fechas. Ninguna tiene un formate de fecha. Para corregir esto haremos un fechanator que moldee las entradas a una forma a la que se le pueda aplicar el formato de fecha.

Ojo. last payment tenia nans. el fechanator los ignora.

In [107]:
#antes 

print(loans['earliest_cr_line'].head(10))
print(loans['last_credit_pull_d'].head(10))
print(loans['last_pymnt_d'].head(10))
print(loans['issue_d'].head(10))
print(loans['settlement_status'].head(10))

print(loans['earliest_cr_line'].isna().any())
print(loans['last_credit_pull_d'].isna().any())
print(loans['last_pymnt_d'].isna().any())#la respuesta que va a hacer que me de de baja es este true
print(loans['issue_d'].isna().any())
print(loans['settlement_status'].isna().any())

loansf['earliest_cr_line'] = loansf['issue_d'].astype(str)
loansf['last_credit_pull_d'] = loansf['last_credit_pull_d'].astype(str)
loansf['last_pymnt_d'] = loansf['last_pymnt_d'].astype(str)
loansf['issue_d'] = loansf['issue_d'].astype(str)
loansf['settlement_status'] = loansf['settlement_status'].astype(str)


def fechanator(cell):
    
    if type(cell) == float: 
        return cell
    if cell=='nan':#odiamos los nan
        return cell
    
    values = cell.split('-')
    key = values[0]
    converter = {
    'Jan': '01',
    'Feb': '02',
    'Mar': '03',
    'Apr': '04',
    'May': '05',
    'Jun': '06',
    'Jul': '07',
    'Aug': '08',
    'Sep': '09',
    'Oct': '10',
    'Nov': '11',
    'Dec': '12'
    }
    return '01-'+converter[key]+'-'+values[1]


loansf['earliest_cr_line'] = loansf['earliest_cr_line'].apply(lambda x: fechanator(x))
loansf['earliest_cr_line'] = pd.to_datetime(loansf['earliest_cr_line'], format= '%d-%m-%Y')

loansf['issue_d'] = loansf['issue_d'].apply(lambda x: fechanator(x))
loansf['issue_d'] = pd.to_datetime(loansf['issue_d'], format= '%d-%m-%Y')

loansf['last_credit_pull_d'] = loansf['last_credit_pull_d'].apply(lambda x: fechanator(x))
loansf['last_credit_pull_d'] = pd.to_datetime(loansf['last_credit_pull_d'], format= '%d-%m-%Y')

loansf['last_pymnt_d'] = loansf['last_pymnt_d'].apply(lambda x: fechanator(x))
loansf['last_pymnt_d'] = pd.to_datetime(loansf['last_pymnt_d'], format= '%d-%m-%Y')

loansf['settlement_date'] = loansf['settlement_date'].apply(lambda x: fechanator(x))
loansf['settlement_date'] = pd.to_datetime(loansf['settlement_date'], format= '%d-%m-%Y')

print(loansf['earliest_cr_line'].head(10))
print(loansf['issue_d'].head(10))
print(loansf['last_credit_pull_d'].head(10))
print(loansf['last_pymnt_d'].head(10))
print(loansf['settlement_date'].head(10))

0    Aug-1994
1    Sep-1989
2    Aug-2003
3    Oct-2000
4    Aug-2002
5    Nov-1992
6    Oct-2001
7    Nov-2003
8    Oct-1998
9    May-2009
Name: earliest_cr_line, dtype: object
0    Nov-2017
1    Feb-2017
2    Dec-2017
3    Dec-2017
4    Oct-2016
5    Dec-2017
6    Dec-2017
7    Oct-2016
8    Oct-2016
9    Apr-2015
Name: last_credit_pull_d, dtype: object
0    Jun-2016
1    Aug-2016
2    May-2016
3    Dec-2017
4    Aug-2015
5    Apr-2015
6    Jun-2015
7    Sep-2016
8    Feb-2016
9    May-2015
Name: last_pymnt_d, dtype: object
0    Dec-2014
1    Dec-2014
2    Dec-2014
3    Dec-2014
4    Dec-2014
5    Dec-2014
6    Dec-2014
7    Dec-2014
8    Dec-2014
9    Dec-2014
Name: issue_d, dtype: object
0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
Name: settlement_status, dtype: object
False
True
True
False
True
0   2014-12-01
1   2014-12-01
2   2014-12-01
3   2014-12-01
4   2014-12-01
5   2014-12-01
6   2014-12-01
7   2014-12-01
8   2014-12-01
9   2014-12-01
Name: earliest_cr_line, dtype: datetime64[ns]
0   2014-12-01
1   2014-12-01
2   2014-12-01
3   2014-12-01
4   2014-12-01
5   2014-12-01
6   2014-12-01
7   2014-12-01
8   2014-12-01
9   2014-12-01
Name: issue_d, dtype: datetime64[ns]
0   2017-11-01
1   2017-02-01
2   2017-12-01
3   2017-12-01
4   2016-10-01
5   2017-12-01
6   2017-12-01
7   2016-10-01
8   2016-10-01
9   2015-04-01
Name: last_credit_pull_d, dtype: datetime64[ns]
0   2016-06-01
1   2016-08-01
2   2016-05-01
3   2017-12-01
4   2015-08-01
5   2015-04-01
6   2015-06-01
7   2016-09-01
8   2016-02-01
9   2015-05-01
Name: last_pymnt_d, dtype: datetime64[ns]
0   NaT
1   NaT
2   NaT
3   NaT
4   NaT
5   NaT
6   NaT
7   NaT
8   NaT
9   NaT
Name: settlement_date, dtype: datetime64[ns]

Aplication type: Indicates whether the loan is an individual application or a joint application with two co-borrowers
Al tener dos posibles valores podemos ponerlo como un booleano. Si es individual, true; sino, false

In [108]:
print(loans['application_type'].head(10))

def val(cell, pv):
    if cell not in pv:
        pv.append(cell)
    return pv

pv= []
loans['application_type'].apply(lambda x: val(x, pv))
print(loans['application_type'].eq('Individual').all())


loansf['is_application_individual'] = loansf['application_type'].eq('Individual')
loansf = loansf.drop('application_type', axis=1)

print(loansf['is_application_individual'].head(10))

""""
Esto (cambiar la naturaleza de una columna se puede aplicar con varias otras columnas. 
Leí que es adecuado, para guardar espacio y facilitar funciones. Sin embargo no hare dichos cambios pq desconozco 
para que se necesita la limpieza. Supongamos que la persona usandola desconoce los valores de true y false.
Ej. ['initial_list_status'] es bastante ambiguo y si no se le introduce al usuario al nuevo significado puede causar confusión
aka yo no se que significan w y f... para que le asigno un true a algo que no se si tiene esa connotación
Ej 2. ['disbursement_method'], deducir que un false es direct pay, no es trivial

El punto es: aqui esta que se puede hacer, pero decidí no hacerlo para el resto
"""

0    Individual
1    Individual
2    Individual
3    Individual
4    Individual
5    Individual
6    Individual
7    Individual
8    Individual
9    Individual
Name: application_type, dtype: object
True
0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
9    True
Name: is_application_individual, dtype: bool

Las flags son una manera de mostrar si se cumple o no una condición. Podemos hacerlas booleanas como en el caso anterior.
Hay dos flags Hardship flag y debt settlement flag

In [112]:
print(loans['debt_settlement_flag'].head(10))
print(loans['hardship_flag'].head(10))
#en los head solo aparecen N asi que supondremos que es un sistema de y=true, n=false

#no es necesario transformar la columna pq el nombre sigue siendo adecuado
loansf['debt_settlement_flag'] = loansf['debt_settlement_flag'].eq('Y')
loansf['hardship_flag'] = loansf['hardship_flag'].eq('Y')

print(loansf['debt_settlement_flag'].head(10))
print(loansf['hardship_flag'].head(10))

0    N
1    N
2    N
3    N
4    N
5    N
6    N
7    N
8    N
9    N
Name: debt_settlement_flag, dtype: object
0    N
1    N
2    N
3    N
4    N
5    N
6    N
7    N
8    N
9    N
Name: hardship_flag, dtype: object
0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
Name: debt_settlement_flag, dtype: bool
0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
Name: hardship_flag, dtype: bool

## Manejo de NaNs o missings

Maneja los datos de tipos missing. Elije una estrategia adecuada dependiendo del tipo de dato que le asignaste a la columna.

Primero. Eliminemos las columnas que solo contengan Nans. Que una columna tenga un nan puede ocasionar problemas, pero vale la pena conservarla por el resto de los datos. Una columna con solo nans no aporta nada y ocupa memoria innecesariamente.

In [113]:
#creamos una función
def quitarColsNans():
    col = loansf.columns 
    res = []
    for columna in col:
        if loansf[str(columna)].isna().all():#solo si TODOS SON NAN
            res.append(str(columna))
        if (loansf[str(columna)]=='nan').all():#por si alguno lo cambiamos a string y se perdio
            res.append(str(columna))
    return res

datos_dict = pd.read_excel('https://resources.lendingclub.com/LCDataDictionary.xlsx')
datos_dict.columns = ['feature', 'description']


coldel = []
columnasnas = quitarColsNans()
#transformamos el pickle. si no, va a a haber datos que no existen post eliminación
for col in columnasnas:
    if not datos_dict['feature'].eq(str(col)).any():
        coldel.append(str(col))

loansf = loansf.drop(columns = coldel)

In [114]:
#De las que no son todos nans:
def buscadorNans():
    columnas = loansf.columns #Obtenemos todas las columnas para iterar
    res = []
    for col in columnas:
        if loans[str(col)].isna().any():
            res.append(str(col))

    return res

res= buscadorNans()
print(res)

#imputaremos algunos más adelante

"""
['member_id', 'emp_length', 'mths_since_last_delinq', 'mths_since_last_record', 'revol_util', 'last_pymnt_d', 
'next_pymnt_d', 'last_credit_pull_d', 'mths_since_last_major_derog', 'annual_inc_joint', 'dti_joint', 
'open_acc_6m', 'open_act_il', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util', 
'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util', 'inq_fi', 'total_cu_tl', 'inq_last_12m', 'bc_open_to_buy', 
'bc_util', 'mo_sin_old_il_acct', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq', 'mths_since_recent_inq', 
'mths_since_recent_revol_delinq', 'num_tl_120dpd_2m', 'percent_bc_gt_75', 'sec_app_open_act_il', 'hardship_type', 
'hardship_reason', 'hardship_status', 'deferral_term', 'hardship_amount', 'hardship_start_date', 'hardship_end_date', 
'payment_plan_start_date', 'hardship_length', 'hardship_dpd', 'hardship_loan_status', 'orig_projected_additional_accrued_interest', 
'hardship_payoff_balance_amount', 'hardship_last_payment_amount', 'debt_settlement_flag_date', 'settlement_date', 
'settlement_amount', 'settlement_percentage', 'settlement_term']
"""

['member_id', 'emp_length', 'mths_since_last_delinq', 'mths_since_last_record', 'revol_util', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d', 'mths_since_last_major_derog', 'annual_inc_joint', 'dti_joint', 'open_acc_6m', 'open_act_il', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util', 'inq_fi', 'total_cu_tl', 'inq_last_12m', 'bc_open_to_buy', 'bc_util', 'mo_sin_old_il_acct', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq', 'mths_since_recent_inq', 'mths_since_recent_revol_delinq', 'num_tl_120dpd_2m', 'percent_bc_gt_75', 'sec_app_open_act_il', 'hardship_type', 'hardship_reason', 'hardship_status', 'deferral_term', 'hardship_amount', 'hardship_start_date', 'hardship_end_date', 'payment_plan_start_date', 'hardship_length', 'hardship_dpd', 'hardship_loan_status', 'orig_projected_additional_accrued_interest', 'hardship_payoff_balance_amount', 'hardship_last_payment_amount', 'debt_settlement_flag_date', 'settlement_date', 'settlement_amount', 'settlement_percentage', 'settlement_term']

In [124]:
"""
hay muchas columnas en su mayoria nan pero no totalmente. Realmente no tengo la experiencia para saber que porcentaje
tienen que ser nans para eliminar la columna. Pero voy a tomar un guess de 70%

"""

def quitarPorcenNans():
    col = loansf.columns 
    res = []
    for columna in col:
        if ((loansf[str(columna)].isna().sum()/loansf[str(columna)].shape[0])*100 < 70):
            res.append(str(columna))
        if (((loansf[str(columna)]=='nan').sum()/loansf[str(columna)].shape[0])*100 < 70):#por si alguno lo cambiamos a string y se perdio
            res.append(str(columna))
    return res

datos_dict = pd.read_excel('https://resources.lendingclub.com/LCDataDictionary.xlsx')
datos_dict.columns = ['feature', 'description']


coldel = []
columnasnas = quitarPorcenNans()

for col in columnasnas:
    if not datos_dict['feature'].eq(str(col)).any():
        coldel.append(str(col))

loansf = loansf.drop(columns = coldel)

['member_id', 'emp_length', 'mths_since_last_delinq', 'mths_since_last_record', 'revol_util', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d', 'mths_since_last_major_derog', 'annual_inc_joint', 'dti_joint', 'open_acc_6m', 'open_act_il', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util', 'inq_fi', 'total_cu_tl', 'inq_last_12m', 'bc_open_to_buy', 'bc_util', 'mo_sin_old_il_acct', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq', 'mths_since_recent_inq', 'mths_since_recent_revol_delinq', 'num_tl_120dpd_2m', 'percent_bc_gt_75', 'sec_app_open_act_il', 'hardship_type', 'hardship_reason', 'hardship_status', 'deferral_term', 'hardship_amount', 'hardship_start_date', 'hardship_end_date', 'payment_plan_start_date', 'hardship_length', 'hardship_dpd', 'hardship_loan_status', 'orig_projected_additional_accrued_interest', 'hardship_payoff_balance_amount', 'hardship_last_payment_amount', 'debt_settlement_flag_date', 'settlement_date', 'settlement_amount', 'settlement_percentage', 'settlement_term']

Crea codigo para **guardar** y **cargar** un archivo JSON en el que se guarde la `estrategia` y `valor` que utilizaste para **imputar**. Por ejemplo: Si hay una columna que se llama `columna 3` y utilizaste la estrategia de imputacion de media, y existe otra llamada `columna 4` y  elegiste la palabra 'missing' el JSON debera contener:  
  
 `{'columna 3':{'estrategia':'mean', 'valor':3.4}, 'columna 4':{'estrategia':'identificador', 'valor':'missing'}}`  

 De tal manera que para cada columna que tenga un metodo de imputacion apunte a otro diccionario donde el **key** `estrategia` describa de manera sencilla el metodo, y el **key** `valor` el valor usado. En general:   
 `{'nombre de la columna':{'estrategia':'descripcion de estrategia', 'valor':'valor utilizado'}}`. 
 

De utilizar mas de un metodo puedes anidarlos en una lista  
  `[{...},{...}]`.  

Incluso si la columna utilizada no sufrio imputacion, es necesario que la agregues al JSON.

La idea es que cualquier otra persona pueda cargar el el archivo JSON con tu funcion, entender que hiciste y replicarlo facilmente. No existe solo una respuesta correcta, pero tendras que justificar y explicar tus deciciones.

### Imputacion

In [148]:
#con las imputaciones iremos creando este diccionario :)
diccionarioEstrategias={}


"""
Se observan dos estrategias:
identificador, poner un texto que se adecue al contexto de la variable. comunmente missing o unknown pq realmente no
podemos estar seguros de el motivo por el que los datos no estan
valor numerico, le damos un avlor representativo para que corran los metodos matematico con esa función
"""

loansf['emp_title'] = loansf['emp_title'].fillna('Unspecified')
diccionarioEstrategias = {'emp_title': {'estrategia': 'identificador', 'valor': 'Unspecified'}}

loansf['emp_length'] = loansf['emp_length'].fillna(0)
diccionarioEstrategias['emp_length'] = {'estrategia': 'valor numerico', 'valor': 0}

loansf['desc'] = loansf['desc'].fillna('missing')
diccionarioEstrategias['desc'] = {'estrategia': 'identificador', 'valor': 'missing'}

loansf['hardship_loan_status'] = loansf['hardship_loan_status'].fillna('missing')
diccionarioEstrategias['hardship_loan_status'] = {'estrategia': 'identificador', 'valor': 'missing'}


loansf['hardship_reason'] = loansf['hardship_reason'].fillna('missing')
diccionarioEstrategias['hardship_reason'] = {'estrategia': 'identificador', 'valor': 'missing'}


loansf['hardship_status'] = loansf['hardship_status'].fillna('unknown')
diccionarioEstrategias['hardship_status'] = {'estrategia': 'rellenar con se desconoce', 'valor': 'unknown'}


loansf['hardship_type'] = loansf['hardship_type'].fillna('missing')
diccionarioEstrategias['hardship_type'] = {'estrategia': 'identificador', 'valor': 'missing'}


loansf['settlement_status'] = loansf['settlement_status'].fillna('unknown')
diccionarioEstrategias['settlement_status'] = {'estrategia': 'rellenar con se desconoce', 'valor': 'unknown'}


#hice la eliminacion de un porcentaje despues. Estas lineas dejaron de correr pq las columnas fueron eliminadas anteriormente
"""
#es un solo valor 
loansf=loansf.drop('max_bal_bc')
diccionarioEstrategias['max_bal_bc']={'estrategia': 'drop', 'valor': 'no aplica'}
"""


#las fechas ni las toque la verdad

"\n#es un solo valor \nloansf=loansf.drop('max_bal_bc')\ndiccionarioEstrategias['max_bal_bc']={'estrategia': 'drop', 'valor': 'no aplica'}\n"

In [122]:
#cajita de dudas borrador
print(loansf['hardship_type'].head(10))

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
Name: hardship_type, dtype: object

### Codigo para salvar y cargar JSONs

In [149]:
import json
with open('estrategias.json', 'w') as fp:
    json.dump(diccionarioEstrategias, fp)# diccionario a json

with open('estrategias.json', 'r') as fp:
    estrategias = json.load(fp)

print(estrategias)

{'emp_title': {'estrategia': 'identificador', 'valor': 'Unspecified'}, 'emp_length': {'estrategia': 'valor numerico', 'valor': 0}, 'desc': {'estrategia': 'identificador', 'valor': 'missing'}, 'hardship_loan_status': {'estrategia': 'identificador', 'valor': 'missing'}, 'hardship_reason': {'estrategia': 'identificador', 'valor': 'missing'}, 'hardship_status': {'estrategia': 'rellenar con se desconoce', 'valor': 'unknown'}, 'hardship_type': {'estrategia': 'identificador', 'valor': 'missing'}, 'settlement_status': {'estrategia': 'rellenar con se desconoce', 'valor': 'unknown'}}